POSTGRES_VERSION=16
REDIS_VERSION=7.2.4
NGINX_VERSION=1.25
RABBIT_VERSION=4.0.2

API_NAME='Book API'
API_DESCRIPTION='API for managing book list'
API_HOST=book_api
API_PORT=8000
API_DOCS_URL=/book/openapi
API_OPENAPI_URL=/book/openapi.json

START_UP_FLAG=False
ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=adminpasswd

POSTGRES_DB=test_db_book
POSTGRES_USER=test_app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_LOCAL=localhost
POSTGRES_PORT_LOCAL=15433

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_HOST_LOCAL=localhost
REDIS_PORT_LOCAL=6380

RABBITMQ_USER=rabituser
RABBITMQ_PASS="123qwe"

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_HOST_LOCAL=localhost
RABBITMQ_PORT_LOCAL=5673

GRPC_SERVER_HOST=grpcserver.com
GRPC_SERVER_PORT=50051
GRPC_SERVER_HOST_LOCAL=localhost
GRPC_SERVER_PORT_LOCAL=50051

GRPC_CLIENT_HOST=grpc_client
GRPC_CLIENT_PORT=5000

LOCAL=False
